@model RSQ.GiftEntertainmentTracker.Models.CompanyModel

@{
    ViewBag.Title = "CompanyDetails";
}

<h2 style="font-family:Times New Roman;color:Gray;">Company Details</h2>

<fieldset>
    <legend>CompanyModel</legend>

    <div class="display-label">Company Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CompanyName)
    </div>

    <div class="display-label">Address</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AddressLine1)
        <br />
        @Html.DisplayFor(model => model.AddressLine2)
        <br />
        @Html.DisplayFor(model => model.AddressLine3)
    </div>


    <div class="display-label">State</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.State)
    </div>

    <div class="display-label">Country</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Country)
    </div>

    <div class="display-label">Zip Code</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ZipCode)
    </div>

    <div class="display-label">Zip code</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ZipCode)
    </div>

    <div class="display-label">Phone No</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PhoneNo)
    </div>

    <div class="display-label">Fax No</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FaxNo)
    </div>

</fieldset>
<p style="margin-left:90%">
@if (ViewBag.CompanyEdit == true)
{
    @Html.ActionLink("Edit", "EditCompany", new { companyId = Model.CompanyId }) <br />
}
    @Html.ActionLink("Back to List", "CompanyResult")<br />
    @Html.ActionLink("Back to Main Page", "Index", "Home")
</p>
