@model RSQ.GiftEntertainmentTracker.Models.CompanyModel

@{
    ViewBag.Title = "Select";
}

<h2 style="font-family:Times New Roman;color:Gray;">Select Division or Department</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<html>
    <head>
        <title>Select one Item</title>
    </head>
    <body>
        <table id="commonTable">
            @using (Html.BeginForm("Select", "Company", FormMethod.Post))
            {
                <tr>
                    <td>
                         @Html.DropDownList("companyItems", "Select One")&nbsp;&nbsp;
                         <input type="submit" value="Go" />
                    </td>
                </tr>
            }
        </table>
    </body>
</html>

<div class="text-right">
    @Html.ActionLink("Back to List", "CompanyDetails")<br />
    @Html.ActionLink("Back to Main Page", "Index", "Home")
</div>
