@model RSQ.GiftEntertainmentTracker.Models.Users

@{
    ViewBag.Title = "UserDetails";
}

<h2 style="font-family:Times New Roman;color:Gray;">User Details</h2>

<table style="border-width:medium" title="Company Details">
        <tr>
            <td style="width:25%" align="justify">
                First Name:
            </td>
            <td>
                @Html.DisplayFor(model => model.FirstName)
            </td>
        </tr>
        <tr>
            <td style="width:25%" align="justify">
                Last Name:
            </td>
            <td>
                @Html.DisplayFor(model => model.LastName)
            </td>
        </tr>
        <tr>
            <td style="width:25%" align="justify">
                Address:
            </td>
            <td>
                @Html.DisplayFor(model => model.AddressLine1)
                <br />
                @Html.DisplayFor(model => model.AddressLine2)
            </td>
        </tr>
        <tr>
             <td style="width:25%" align="justify">
                City:
            </td>
            <td>
                @Html.DisplayFor(model => model.City)
            </td>
        </tr>
        <tr>
             <td style="width:25%" align="justify">
                State:
            </td>
            <td>
                @Html.DisplayFor(model => model.State)
            </td>
        </tr>
        <tr>
             <td style="width:25%" align="justify">
                Country:
            </td>
            <td>
                @Html.DisplayFor(model => model.Country)
            </td>
        </tr>
        <tr>
             <td style="width:25%" align="justify">
                Zip Code:
            </td>
            <td>
                 @Html.DisplayFor(model => model.ZipCode)
            </td>
        </tr>
        <tr>
             <td style="width:25%" align="justify">
                Phone No:
            </td>
            <td>
                @Html.DisplayFor(model => model.PhoneNo)
            </td>
        </tr>
    </table>
<p style="margin-left:90%">
    @Html.ActionLink("Edit", "EditUser") |
    @Html.ActionLink("Back to List", "Index")
</p>
