@model IEnumerable<RSQ.GiftEntertainmentTracker.Models.DepartmentModel>

@{
    ViewBag.Title = "DepartmentResult";
}

<h2 style="font-family:Times New Roman;color:Gray;">Department Result</h2>
<script type="text/javascript">

function ConfirmationBox() {

    var e = document.getElementById("company");
    var strUser = e.options[e.selectedIndex].value;

    if (strUser == 0) {
        alert("Select a Company/Division");
    return false;
    }
}
</script>

@if(ViewBag.DepartmentCreate==true)
{
    using (Html.BeginForm("DepartmentResult", "Department", FormMethod.Post))
    {
         <fieldset style="width:500px;">
            <legend>Company</legend>
            <div> 
                <h5>Company:@Html.DropDownList("company", "Select One")</h5>
            </div>
            <div style="margin-left:70%;">
                <input type="submit" value="Create Department" onclick="javascript:return ConfirmationBox();"/>
            </div>
        </fieldset> 
    }
}
@{
    var grid = new WebGrid(source: Model,
     defaultSort: "CompanyName",
         rowsPerPage: 25);

    IEnumerable<WebGridColumn> cols = grid.Columns();

    if (@ViewData["DepartmentDelete"].ToString() == RSQ.GiftEntertainmentTracker.Common.ListItem.delete)
    {
        cols = cols.Concat(grid.Columns(grid.Column("Delete", format: @<text>
                        <a href="@Url.Action("DeleteDepartment", "Department", new { departmentId = item.DepartmentId })" title="Delete">
                        <img src="../../Images/Delete.jpg" alt="Delete" style="border:none;width:25px;height:25px;padding-left:25px;" /></a>
                        </text>)));
    }

    if (@ViewData["DepartmentEdit"].ToString() == RSQ.GiftEntertainmentTracker.Common.ListItem.edit)
    {
        cols = cols.Concat(grid.Columns(grid.Column("Edit", format: @<text>
                          <a href="@Url.Action("EditDepartment", "Department", new { departmentId = item.DepartmentId })" title="Edit">
                          <img src="../../Images/Edit.png" alt="Edit" style="border:none;width:25px;height:25px;padding-left:10px;" /></a>
                          </text>)));
    }
    
    cols = cols.Concat(grid.Columns(grid.Column("Add Users",
                                  format: (item) => Html.ActionLink("Users", "DepartmentUsers", new { departmentId = item.DepartmentId }))));

    cols = cols.Concat(grid.Columns(grid.Column("Details",
                                  format: (item) => Html.ActionLink("Details", "DepartmentDetails", new { departmentId = item.DepartmentId })),

                            grid.Column("CompanyName", "Company"),
                            grid.Column("DivisionName", "Division"),
                            grid.Column("DepartmentName", "Department"),
                            grid.Column("PhoneNo", "Phone Number"),
                            grid.Column("FaxNo", "Fax Number")));
 }
 <div>
  @grid.GetHtml(
      tableStyle: "grid",
      headerStyle: "head",
      alternatingRowStyle: "alt",
     columns: cols)
</div>
<div class="text-right">
@Html.ActionLink("Back to Main Page", "Index", "Home")
</div>
