@model RSQ.GiftEntertainmentTracker.Models.DepartmentModel

@{
    ViewBag.Title = "DepartmentDetails";
}

<h2 style="font-family:Times New Roman;color:Gray;">Department Details</h2>

<h3 style="font-family:Calibri;color:Purple" title="Company Name,Division Name">@Html.DisplayFor(model => model.CompanyName),
@Html.DisplayFor(model => model.DivisionName)</h3>

<table style="border-width:medium" title="Department Details">
        <tr>
            <td style="width:25%" align="justify">
                Department Name:
            </td>
            <td>
                @Html.DisplayFor(model => model.DepartmentName)
            </td>
        </tr>
        <tr>
             <td style="width:25%" align="justify">
                Phone No:
            </td>
            <td>
                @Html.DisplayFor(model => model.PhoneNo)
            </td>
        </tr>
        <tr>
             <td style="width:25%;" align="justify">
                Fax No:
            </td>
            <td>
                @Html.DisplayFor(model => model.FaxNo)
            </td>
        </tr>
    </table>

<p style="margin-left:90%">
@if (ViewBag.DepartmentEdit == true)
{
    @Html.ActionLink("Edit", "EditDepartment", new { departmentId = Model.DepartmentId }) <br />
}
    @Html.ActionLink("Back to List", "DepartmentResult")<br />
    @Html.ActionLink("Back to Main Page", "Index", "Home")
</p>
