@model RSQ.GiftEntertainmentTracker.Models.UserModel

@{
    ViewBag.Title = "UserDetails";
}

<h2>User Details</h2>

<fieldset>
    <legend>UserModel</legend>


    <div class="display-label">CompanyName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CompanyName)
    </div>


    <div class="display-label">DivisionName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DivisionName)
    </div>


    <div class="display-label">DepartmentName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DepartmentName)
    </div>

    <div class="display-label">FirstName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">LastName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">AddressLine1</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AddressLine1)
    </div>

    <div class="display-label">AddressLine2</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AddressLine2)
    </div>

    <div class="display-label">State</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.State)
    </div>

    <div class="display-label">Country</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Country)
    </div>

    <div class="display-label">ZipCode</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ZipCode)
    </div>

    <div class="display-label">PhoneNo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PhoneNo)
    </div>

    <div class="display-label">EmailId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmailId)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "EditUser", new { userId=Model.UserId }) |
    @Html.ActionLink("Back to List", "UserResult")
</p>
